<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pandas Flask 연습문제 8번</h1>

    <!-- <form method="get" action="/dbshow">
        <label for="dept">부서명</label>
        <input type="text" id="dept" name="dept" placeholder="예)총무부">
        <button type="submit">조회</button>
        <a href="/">메인 페이지</a>
    </form> -->
    <h2>pandas_flask_2026_03_25</h2>
    <hr>
    <div>
        <h3>1) 사번, 직원명, 부서명, 직급, 연봉, 근무년수</h3>
        부서번호, 직원명 순으로 오름 차순 정렬
        <br>
        <a class="btn" href="/ans1">1번 정답보기</a>
    </div>
    
    <div>
        <h3>2) 부서명, 직급 자료를 이용하여  각각 연봉합, 연봉평균</h3>
        <a class="btn" href="/ans2">2번 정답보기</a>
    </div>
    
    <div>
        <h3>3) 부서명별 연봉합, 평균을 이용하여 세로막대 그래프 출력</h3>
        <a class="btn" href="/ans3">3번 정답보기</a>
    </div>
    
    <div>
        <h3>4) 성별, 직급별 빈도표 출력</h3>
        <a class="btn" href="/ans4">4번 정답보기</a>
    </div>
    
    <div>
        <h3>5) 부서별 최고 연봉자 출력 : 부서명별로 가장 연봉이 높은 직원 1명씩 출력</h3>
        출력 항목: 부서명, 직원명, 연봉<br>
        <a class="btn" href="/ans5">5번 정답보기</a>
    </div>
    
    <div>
        <h3>6) 부서별 직원 비율 계산 : 전체 인원 대비 각 부서 인원 비율(%) 결과를 DataFrame으로 출력 </h3>
        비율 계산 (%)은 dept_ratio = (dept_count / total * 100).round(2)<br>
        <a class="btn" href="/ans6">6번 정답보기</a>
    </div>
    
</body>
</html>